.toast-body {
    position: fixed;
    z-index: 555;
  }
  
  .toast-body.top-right,
  .toast-body.bottom-right {
    right: 12px;
    transition: transform 0.6s ease-in-out;
    animation: toast-in-right 0.7s;
  }
  
  .toast-body.top-right {
    top: 12px;
  }
  
  .toast-body.bottom-right {
    bottom: 12px;
  }
  
  .toast-body.top-left,
  .toast-body.bottom-left {
    left: 12px;
    transition: transform 0.6s ease-in;
    animation: toast-in-left 0.7s;
  }
  
  .toast-body.top-left {
    top: 12px;
  }
  
  .toast-body.bottom-left {
    bottom: 12px;
  }
  
  .toast-body.top-center {
    top: 1em;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.6s ease-in;
    animation: bounceInDown 0.7s;
  }
  
  @keyframes toast-in-right {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes toast-in-left {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes bounceInDown {
    from,
    60%,
    75%,
    90%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
      opacity: 0;
      transform: translate3d(0, -3000px, 0);
    }
    60% {
      opacity: 1;
      transform: translate3d(0, 25px, 0);
    }
    75% {
      transform: translate3d(0, -10px, 0);
    }
    90% {
      transform: translate3d(0, 5px, 0);
    }
    to {
      transform: none;
    }
  }